.recipe-detail-container {
  h2 {
    font-weight: 700;
  }
  h3,
  h6 {
    font-family: 'Pacifico', cursive;
  }
  .recipe-img {
    border: 5px solid #fe8e53;
    padding: 5px;
    width: 100%;
  }
}
